.transactionsPanel {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  nav {
    margin: 10px;
  }

  .transactionsList {
    overflow-y: auto;

    .transactionCard {
      margin: 5px;

      .mainRow {
        display: flex;
        justify-content: space-between;

        .amountContainer {
          width: 13rem;
          flex-grow: 0;
          p {
            font-size: 2rem;
          }

          span {
            font-size: 1rem;
            color: #666666;
          }
        }
        .beneficiaryContainer {
          flex-grow: 1;

          .account {
            color: #666666;
          }
        }
        .date {
          text-align: right;
          margin-bottom: 0.5rem;
        }
      }
      .actionsRow {
        justify-content: flex-end;
      }
    }
  }
}
