$mdBreakpoint: 960px;

body {
  margin: 0;
  font-size: 14px;
  @media screen and (min-width: $mdBreakpoint) {
    overflow: hidden;
  }
}

.application {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: ghostwhite;
  @media screen and (min-width: $mdBreakpoint) {
    height: 100vh;
  }
}

.header {
  height: 3rem;
}

.footer {
  background-color: gray;
  height: 3rem;
}

.content {
  display: flex;
  flex-grow: 2;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: center;
  overflow: hidden;
  padding-top: 4rem;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head {
    box-sizing: border-box;
    flex-grow: 0;

    .container {
      height: 100%;

      .tools {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: $mdBreakpoint) {
          order: 2;
        }
      }
    }

    .form {
      @media screen and (max-width: $mdBreakpoint) {
        order: 1;
      }
    }
  }
  .transactions {
    flex-grow: 1;
    overflow: hidden;
  }
}
